<h2>DashBoard</h2>
<div>
<div class="col-left">
    <div class="card welcome-card">
        <div class="card-head welcome-head-container">
            <div class="col-left">
                <div>Welcome Back</div>
                <p>Angular dashboard</p>
            </div>
             <div class="col-right">
                 <img [src]="'assets/profile-bg-3.png'" alt="">
            </div>
        </div>
        <div class="card-body welcome-body-container">
            <div class="col-left">
                
            </div>
        </div>

    </div>
</div>

</div>

<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>
</div>
